<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thd.springboot.framework.example.mapper.CgExampleMapper">
	<!-- Result Map -->
	<resultMap id="ResultMap" type="com.thd.springboot.framework.example.entity.CgExampleEntity">
		<result column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="user_age" property="userAge" />
		<result column="user_birthday" property="userBirthday" />
	</resultMap>


	<sql id="column_list">
	    cg_example.`id`, <!-- 0 主键 -->
	    cg_example.`user_name`, <!-- 0 姓名 -->
	    cg_example.`user_age`, <!-- 1 年龄 -->
	    cg_example.`user_birthday` <!-- 2 生日 -->
	</sql>

	<sql id="where_eq">
		where is_deleted = 0
    <if test="id != null ">
        and cg_example.`id` = #{id}
    </if>
        <if test="userName != null and userName != '' ">
            and cg_example.`user_name` = #{userName}
        </if>
        <if test="userAge != null ">
            and cg_example.`user_age` = #{userAge}
        </if>
        <if test="userBirthday != null ">
            and cg_example.`user_birthday` = #{userBirthday}
        </if>
	</sql>

    <sql id="where_like">
        where is_deleted = 0
    <if test="id != null ">
        and cg_example.`id` like #{id}
    </if>
        <if test="userName != null and userName != '' ">
            and cg_example.`user_name` like CONCAT('%',#{userName},'%')
        </if>
        <if test="userAge != null ">
            and cg_example.`user_age` = #{userAge}
        </if>
        <if test="userBirthday != null ">
            and cg_example.`user_birthday` = #{userBirthday}
        </if>
    </sql>

    <insert id="add" parameterType="com.thd.springboot.framework.example.entity.CgExampleEntity">
        insert into cg_example(
            `id`,
            `user_name`,
            `user_age`,
            `user_birthday`
        )
        values(
            `#{id}`,
            `#{userName}`,
            `#{userAge}`,
            `#{userBirthday}`
        )
    </insert>


	<update id="update" parameterType="com.thd.springboot.framework.example.entity.CgExampleEntity">
		update cg_example set
	    <trim  suffixOverrides="," >
	        <if test="id != null ">
	            `id`=#{id},
	        </if>
            <if test="userName != null ">
                `user_name`=#{userName},
            </if>
            <if test="userAge != null ">
                `user_age`=#{userAge},
            </if>
            <if test="userBirthday != null ">
                `user_birthday`=#{userBirthday},
            </if>
	    </trim>
	    where `id`=#{id}
	</update>

    <select id="queryEq" resultMap="ResultMap" parameterType="com.thd.springboot.framework.example.entity.CgExampleEntity">
        select
        <include refid="column_list" />
        from cg_example
        <include refid="where_eq" />

    </select>

    <select id="queryLike" resultMap="ResultMap" parameterType="com.thd.springboot.framework.example.entity.CgExampleEntity">
        select
        <include refid="column_list" />
        from cg_example
        <include refid="where_like" />

    </select>


	<delete id="delete" parameterType="com.thd.springboot.framework.example.entity.CgExampleEntity">
		delete from  cg_example where `id` = #{id}
	</delete>

	<update id="isDelete" parameterType="com.thd.springboot.framework.example.entity.CgExampleEntity">
		update  cg_example set is_deleted = 1 where `id` = #{id}
	</update>

	<select id="queryById" resultMap="ResultMap" parameterType="com.thd.springboot.framework.example.entity.CgExampleEntity">
		select <include refid="column_list" /> from cg_example where `id` = #{id}
	</select>


</mapper>
